# Annualise AMO for mean and variance

## Load data from `.txt`

In [1]:
import pandas as pd
import glob

In [2]:
dataname = 'amo'

In [4]:
fname, = glob.glob(f"datadrive/TeamG/data/{dataname}*.txt")
df = pd.read_csv(fname, delim_whitespace=True)
df.head()

,year,1,2,3,4,5,6,7,8,9,10,11,12
0,1856,0.237,0.171,0.242,0.161,0.214,0.236,0.249,0.226,0.293,0.143,0.154,0.248
1,1857,0.233,-0.040,-0.056,0.026,-0.014,0.119,0.151,0.016,0.038,-0.115,-0.149,-0.264
2,1858,-0.202,-0.295,-0.052,0.230,0.108,-0.021,-0.142,-0.053,0.089,0.167,0.293,0.141
3,1859,-0.115,-0.102,0.078,0.167,0.105,-0.083,-0.163,0.081,0.098,0.146,0.078,0.100
4,1860,0.133,-0.094,0.078,-0.051,0.187,0.321,0.247,0.057,0.013,0.128,0.010,0.159

In [10]:
df.tail()

,year,1,2,3,4,5,6,7,8,9,10,11,12
161,2017,0.213,0.215,0.155,0.271,0.302,0.296,0.290,0.298,0.338,0.421,0.340,0.352
162,2018,0.161,0.050,0.120,0.051,-0.013,-0.023,0.005,0.100,0.150,0.131,-0.133,-0.072
163,2019,-0.027,0.068,0.109,0.111,0.076,0.161,0.340,0.326,0.233,0.146,0.098,0.152
164,2020,0.084,0.344,0.356,0.358,0.254,0.260,0.352,0.436,0.307,0.300,0.123,0.173
165,2021,0.137,0.150,0.123,0.065,0.082,-99.990,-99.990,-99.990,-99.990,-99.990,-99.990,-99.990

## Save to CSV

In [6]:
df.to_csv(f"datadrive/TeamG/data/{dataname}.csv", index=False)

## Longify

In [7]:
dfl = df.melt(id_vars=['year'], value_vars=map(str, range(1, 13)), var_name='month', value_name=dataname)

## Remove null values

In [9]:
dfl = dfl[dfl[dataname] != -99.990]

## Timey Wimey stuff

In [13]:
dfl['month'] = pd.to_numeric(dfl['month'])

<ipython-input-13-b08e172c2a85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl['month'] = pd.to_numeric(dfl['month'])

In [14]:
dfl['date'] = pd.to_datetime(dfl.year.astype(str)+dfl.month.astype(str), format='%Y%m')

<ipython-input-14-8eceb1081504>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl['date'] = pd.to_datetime(dfl.year.astype(str)+dfl.month.astype(str), format='%Y%m')

In [15]:
dfl

      year  month    amo       date
0     1856      1  0.237 1856-01-01
1     1857      1  0.233 1857-01-01
2     1858      1 -0.202 1858-01-01
3     1859      1 -0.115 1859-01-01
4     1860      1  0.133 1860-01-01
...    ...    ...    ...        ...
1986  2016     12  0.323 2016-12-01
1987  2017     12  0.352 2017-12-01
1988  2018     12 -0.072 2018-12-01
1989  2019     12  0.152 2019-12-01
1990  2020     12  0.173 2020-12-01

[1985 rows x 4 columns]

In [16]:
dfl['north'] = dfl['date'].dt.to_period('A-NOV')

<ipython-input-16-12c1e506bcb7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl['north'] = dfl['date'].dt.to_period('A-NOV')

In [17]:
dfl['south'] = dfl['date'].dt.to_period('A-MAY')

<ipython-input-17-5d0b43db76d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl['south'] = dfl['date'].dt.to_period('A-MAY')

In [18]:
dfl['tropic'] = dfl['date'].dt.to_period('A-APR')

<ipython-input-18-42b3f5dbfb4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfl['tropic'] = dfl['date'].dt.to_period('A-APR')

In [19]:
dfl

      year  month    amo       date north south tropic
0     1856      1  0.237 1856-01-01  1856  1856   1856
1     1857      1  0.233 1857-01-01  1857  1857   1857
2     1858      1 -0.202 1858-01-01  1858  1858   1858
3     1859      1 -0.115 1859-01-01  1859  1859   1859
4     1860      1  0.133 1860-01-01  1860  1860   1860
...    ...    ...    ...        ...   ...   ...    ...
1986  2016     12  0.323 2016-12-01  2017  2017   2017
1987  2017     12  0.352 2017-12-01  2018  2018   2018
1988  2018     12 -0.072 2018-12-01  2019  2019   2019
1989  2019     12  0.152 2019-12-01  2020  2020   2020
1990  2020     12  0.173 2020-12-01  2021  2021   2021

[1985 rows x 7 columns]

## Aggregate - Mean

In [20]:
def mean_to_csv(var, dataname=dataname):
    (dfl[[var, dataname]]
     .rename(columns={var: 'year', dataname: f"{dataname}_mean_{var}"})
     .groupby('year')
     .mean()
     .to_csv(f'datadrive/TeamG/data/{dataname}_annual_mean_{var}.csv'))

Northern Hemisphere (Dec-Dec)

In [21]:
mean_to_csv('north')

Southern Hemisphere (Jun-Jun)

In [22]:
mean_to_csv('south')

Tropical year (May-May)

In [23]:
mean_to_csv('tropic')

Hsiang 2011 - "Civil conflicts are associated with the global climate" (Mar-Dec) <br>
https://www.nature.com/articles/nature10311

In [24]:
(dfl[dfl.month > 4]
 .groupby('year')
 .mean()[dataname]
 .to_csv(f'datadrive/TeamG/data/{dataname}_annual_mean_hsiang2011.csv')
)

## Aggregate - Variance

In [35]:
def variance_to_csv(var, dataname=dataname):
    (dfl[[var, dataname]]
     .rename(columns={var: 'year', dataname: f"{dataname}_variance_{var}"})
     .groupby('year')
     .var()
     .to_csv(f'datadrive/TeamG/data/{dataname}_annual_variance_{var}.csv'))

Northern Hemisphere (Dec-Dec)

In [36]:
variance_to_csv('north')

Southern Hemisphere (Jun-Jun)

In [37]:
variance_to_csv('south')

Tropical year (May-May)

In [38]:
variance_to_csv('tropic')

Hsiang 2011 - "Civil conflicts are associated with the global climate" (Mar-Dec) <br>
https://www.nature.com/articles/nature10311

In [39]:
(dfl[dfl.month > 4]
 .groupby('year')
 .var()[dataname]
 .to_csv(f'datadrive/TeamG/data/{dataname}_annual_variance_hsiang2011.csv')
)